form {
  display: flex;
  flex-direction: column;
  background-color: rgb(184, 182, 182);
  border-radius: 15px;
  color: #00020e;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 30px;
}

button {
  background-color: rgb(230, 124, 39);
  color: #00020e;
  margin-top: 20px;
  padding: 7px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

label {
  margin: 10px;
  width: 100%;
  text-align: left;
  margin: 0px;
}

footer {
  text-align: center;
  margin-bottom: 70px;
}
