header {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 5px;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 55px;
  font-weight: bold;
}

.head {
  padding: 40px 30px 10px 30px;
}

.tagline {
  margin-top: 0px;
  font-size: 25px;
}

.accent {
  color: rgb(230, 124, 39);
}

@media only screen and (min-width: 700px) {
  .head {
    padding: 50px 100px 5px 100px;
  }
}
