.tech {
    text-align: center;
    padding: 30px;
    // background-color: rgb(184, 182, 182);
    background-color: white;
    // color: #00020e;
    // color: grey;
}

.col  {
    display: inline;
    padding: 5px;
}

// .heading {
//     margin-top: 25px;
//     font-family: 'Rubik', sans-serif;
//   }