body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: rgb(184, 182, 182);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 700px){
  body {
    text-align: center;
  }
}