nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgba(167, 167, 167, 0.438);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-top a {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    color: rgb(184, 182, 182);
    padding: 10px;
}

.nav-top a:hover {
    background-color: rgb(184, 182, 182);
    color: #00020e;
}

@media only screen and (min-width: 700px){
    nav {
        display: flex;
        justify-content: flex-end;
    }

}